h1{
font-family: 'Courier New', Courier, monospace;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
article{
width: 70%;
size: 90%;
text-align:justify;   
margin-right: auto;
margin-left: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(199,199,199);
    background: linear-gradient(90deg, rgba(199,199,199,1) 0%, rgba(215,189,166,1) 35%, rgba(183,214,182,1) 100%);
}

nav {
    text-align: center;
}

nav a {
    size: 90%;
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
    padding: 5px 40px 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
}
nav a:hover{
    background-color: brown; 
    color: chartreuse;   
    font-size: 102%;
    box-shadow:2px 2px 2px black;
}
hr{
    color: black;   
    margin-top: 30px;
    margin-bottom: 60px;
}
.galerie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width:700px;
}
.tabulka{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    max-width:700px;
}

.udaje{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}